<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1>Welcome to the text analyazer.Enter your text below</h1>
<form action='/analyze' method="post">{% csrf_token %}
    <textarea name="text" style='margin: 0px; width: 1263px; height: 143px;'></textarea>
    <input type="checkbox" name="removepunc">Remove Punctation<br>
    <input type="checkbox" name="uppercase">UPPER CASE<br>
    <input type="checkbox" name="newlineremove">New Line Remover<br>
    <input type="checkbox" name="Extrapaceremover">Extra Space Remover<br>
    <input type="checkbox" name="charcounter">Character Counter<br>
    <button type="submit">Analyize Text</button>
</form>
</body>
</html>